%p
  %strong= t('.commenter')
  = comment.user.login

%p
  %strong= t('.body')
  %br
  = comment.body

%p
  = link_to t('.destroy'), post_comment_path(comment.post, comment), method: :delete, data: { :confirm => t('.confirm') }