= simple_form_for [@post, @post.comments.build], :html => { :class => 'form-horizontal' } do |f|
  = f.input :commenter, :wrapper => :prepend, :label => false do
    = content_tag :span, "Commenter", :class => "add-on"
    = f.input_field :commenter
  = f.input :body
  = f.button :submit