%h1= t('.listing_posts')
= render 'filters'
%table.table.table-striped
  %thead
    %tr
      %th= ham(:post, :title)
      %th= ham(:post, :text)
      %th= ham(:post, :state)
      %th= ham(:post, :validation_state)
      %th= ham(:post, :actions)

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.text
        %td= post.state
        %td= post.validation_state
        %td
          = link_to t('.show'), post_path(post), :class => 'btn btn-mini'
          = link_to t('.edit'), edit_post_path(post), :class => 'btn btn-mini'
          - if post.restored?
            = link_to t('.destroy'), post_path(post), method: :delete, data: { :confirm => t('.confirm') }, class: 'btn btn-mini btn-danger'
= link_to t('.new'), new_post_path, :class => 'btn btn-primary'
= paginate @posts