%h1= t('.listing_posts')
/ = render 'filters'
%ul.list-group
  %li.list-group-item
    .row
      .col-md-3
        %strong= ham(:post, :subject)
      .col-md-9
        %strong= ham(:post, :title)

  - @posts.each do |post|
    %li.list-group-item
      .row
        .col-md-3
          = link_to post.subject.title, subject_posts_path(post.subject)
        .col-md-9
          = link_to post.title, post_path(post)
