%h1
  = @post.subject.title
%strong= @post.title
%p!= @post.text

= link_to t('.edit'), edit_post_path(@post)
%br
= link_to t('.back'), posts_path

#post-comments-body
  #post-comments
    %h4= t('.comments')
    = render partial: "web/posts/comments/comment", collection: @post.comments
  %h4= t('.add_comment')
  = render "web/posts/comments/form"