%h1= t('.listing_posts')

.row
  .col-md-2
    %strong= sort_link @search, :subject
  .col-md-5
    %strong= sort_link @search, :title
  .col-md-2
    %strong= sort_link @search, :state
  .col-md-3
    %strong= ham(:post, :actions)


- @posts.each do |post|
  .row
    .col-md-2
      = post.subject.title
    .col-md-5
      = link_to post.title, edit_admin_post_path(post)
    .col-md-2
      = post.state
    .col-md-3
      - if post.restored?
        = link_to t('destroy'), admin_post_path(post), method: :delete, data: { :confirm => t('confirm') }, class: 'btn btn-sm btn-danger'

= link_to t('new'), new_admin_post_path, :class => 'btn btn-primary'
= paginate @posts