%p
  %h1= @post.title
%p= @post.text

= link_to t('.edit'), edit_post_path(@post)
%br
= link_to t('.back'), posts_path

%section#post-comments 
  %h4= t('.comments')
  = render @post.comments
  %h4= t('.add_comment')
  = render "comments/form"