%h1= t('.listing_subjects')

%ul.list-group
  - @subjects.each do |subject|
    %li.list-group-item
      = link_to subject_posts_path(subject) do
        = subject.title
        %span.badge
          = subject.published_posts.count
= paginate @subjects